<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{appTitle}}</title>
    <meta charset="UTF-8">

    <script id="sap-ui-bootstrap"
        src="https://sapui5.hana.ondemand.com/resources/sap-ui-core.js"
        data-sap-ui-theme='sap_fiori_3'
        data-sap-ui-resourceroots='{
          "sap.fe.demo.incidents": "../../"
        }'
        data-sap-ui-animation="false"
        data-sap-ui-compatVersion="edge"
        data-sap-ui-async="true">
    </script>

    <link rel="stylesheet" type="text/css" href="https://sapui5.hana.ondemand.com/resources/sap/ui/thirdparty/qunit-2.css">

    <script src="https://sapui5.hana.ondemand.com/resources/sap/ui/thirdparty/qunit-2.js"></script>
    <script src="https://sapui5.hana.ondemand.com/resources/sap/ui/qunit/qunit-junit.js"></script>
    <script src="Opa.qunit.js"></script>
  </head>

  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
  </body>
</html>